@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* colors */
    --white: hsl(0, 0%, 100%);
    --blue-100: hsl(212, 45%, 89%);
    --blue-200: hsl(220, 15%, 55%);
    --blue-300: hsl(218, 44%, 22%);

    /* typography */
    --weight-lite: 400;
    --weight-normal: 700;
}

body{
    font-family: 'Outfit', sans-serif;
    font-size: 0.9375rem;
    min-height: 100vh;
    background-color: var(--blue-100);
}

main{
    display: grid;
    place-items: center;
    height: 100vh;
}

h1{
    color: var(--blue-300);
    font-weight: var(--weight-normal);
    margin-top: 1rem;
    text-align: center;
}

p{
    color: var(--blue-200);
    font-weight: var(--weight-lite);
    margin: 1rem;
    font-size: 22px;
    text-align: center;
}

img{
    border-radius: 1rem;
    width: 24rem;
}

.card{
    display: grid;
    gap: 1rem;
    background-color: var(--white);
    padding: 1.4rem;
    border-radius: 1.5rem;
    max-width: min-content;
}

@media (max-width: 480px){
    .card{
        padding: 1rem;
    }
    img {
        width: 18rem;
    }
    h1{
        font-size: 1.5rem;
    }
    p{
        font-size: 0.9375rem;
    }
}

@media (max-width: 290px){
    img {
        width: 14rem;
    }
}